body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
    margin-top:100px;
}

h1{
    color:#007BFF;
}

button{
    padding:12px 20px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}